button {    
    width: 100px;
    height: 40px;
    margin: 20px;
    border-radius: 100px;
    border-style: none;
    background-color: lime;
}

button:hover {
    background-color: limegreen;
    transform: translateY(4px);
}